[data-action] {
  cursor: pointer;
}

td {
  height: 50px;
  width: 120px;
  text-align: center;
}
#sorting th.sortby {
  background-color: aquamarine;
}

tr {
  height: 50px;
  width: 120px;
}
#sorting th.sortby[data-sort-direction="asc"]::after {
  content: " ⬇️ ";
}
td[data-field="winner"]::after {
  content: " 🥇 ";
}
td[data-field="winner"][data-winner="false"]::after {
  filter: grayscale(1);
}

#sorting th.sortby[data-sort-direction="desc"]::after {
  content: " ⬆️ ";
}

#list {
  border-collapse: collapse;
}

#list tbody tr td {
  padding: 4px;
}

.star {
  cursor: pointer;
}
.winner {
  cursor: pointer;
}

#list tbody tr:nth-child(odd) td {
  background-color: lightblue;
  border-right: rgb(240, 249, 255) 1px dotted;
}

#list tbody tr:nth-child(even) td {
  border-right: rgb(171, 219, 252) 1px dotted;
}
.hide {
  visibility: hidden;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

button.close_button {
  position: absolute;
  right: 0;
  top: 0;
}

.dialog {
  padding: 1rem;
  background-color: antiquewhite;
}
