#bars {
  display: flex;
  height: 300px;
  width: 100%;
}
.bar {
  flex-grow: 1;
  border: 1px solid black;
  background-color: aqua;
  margin-right: 1px;
  height: 100%;
  width: 30px;
  align-self: flex-end;
}

.animation {
  animation-name: move;
  animation-duration: 1000ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.new-bar-height {
  transition: height 1000ms ease-in-out;
}
@keyframes move {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
